.header {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
	color: var(--secondary-color);
	text-decoration: none;
	font-weight: bold;
	padding: 10px;
}

.navigation:hover {
	color: blue;
}